.constructor {
  color: var(--ion-color-dark);
}

.driver-number {
  min-width: 1.875rem;
}

.country-thumbnail {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 1.5rem;
  height: 1rem;
}

.country-thumbnail ion-img {
  border-radius: 0.25rem;
}