.standings-position,
.round-position {
  min-width: 1.5rem;
}

.standings-points {
  min-width: 2.625rem;
}

.driver-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  font-weight: bold;
  color: #fff;
  background: var(--ion-color-light);
}

.driver-team-line {
  width: 0.125rem;
  height: 2rem;
  border-radius: 0.25rem;
}

.driver-mercedes {
  color: #1f1f27;
  background-color: #00d2be;
}

.driver-ferrari {
  background-color: #dc0000;
}

.driver-red_bull {
  background-color: #0600ef;
}

.driver-mclaren {
  color: #1f1f27;
  background-color: #ff9800;
}

.driver-alpine {
  color: #1f1f27;
  background-color: #0090ff;
}

.driver-renault {
  color: #1f1f27;
  background-color: #fff500;
}

.driver-alphatauri {
  background-color: #2b4562;
}

.driver-toro_rosso {
  background-color: #0032FF;
}

.driver-aston_martin {
  background-color: #006f62;
}

.driver-racing_point {
  color: #1f1f27;
  background-color: #f596c8;
}

.driver-force_india {
  background-color: #ff5f0e;
}

.driver-williams {
  background-color: #005aff;
}

.driver-alfa,
.driver-sauber {
  background-color: #900000;
}

.driver-haas {
  color: #1f1f27;
  background-color: #ffffff;
}
