.standings-position,
.round-position {
  min-width: 1.5rem;
}

.standings-points {
  min-width: 2.625rem;
}

.driver-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  font-weight: bold;
  color: #fff;
  background: var(--ion-color-light);
}

.team-line {
  width: 0.125rem;
  height: 2rem;
  border-radius: 0.25rem;
}

.team-mercedes {
  color: #1f1f27;
  background-color: #00d2be;
}

.team-ferrari {
  background-color: #dc0000;
}

.team-red_bull {
  background-color: #0600ef;
}

.team-mclaren {
  color: #1f1f27;
  background-color: #ff9800;
}

.team-alpine {
  color: #1f1f27;
  background-color: #0090ff;
}

.team-renault {
  color: #1f1f27;
  background-color: #fff500;
}

.team-lotus_f1 {
  color: #1f1f27;
  background-color: #ffb800;
}

.team-alphatauri {
  background-color: #2b4562;
}

.team-toro_rosso {
  background-color: #0032FF;
}

.team-aston_martin,
.team-caterham {
  background-color: #006f62;
}

.team-racing_point {
  color: #1f1f27;
  background-color: #f596c8;
}

.team-force_india {
  background-color: #ff5f0e;
}

.team-williams {
  background-color: #005aff;
}

.team-alfa,
.team-sauber {
  background-color: #900000;
}

.team-bmw_sauber {
  background-color: #0166B1;
}

.team-haas {
  color: #1f1f27;
  background-color: #ffffff;
}

.team-marussia {
  background-color: #fd1f32;
}

.team-manor {
  background-color: #e4591e;
}
