.circuit-country-thumbnail {
  --ion-margin: 1.375rem;

  width: 2.5rem;
  height: 1.75rem;
}

.circuit-country-thumbnail ion-img {
  border-radius: 0.25rem;
}

.track-card {
  --background: var(--ion-color-light);
}

.track {
  width: 90%;
  height: 216px;
  color: var(--ion-color-dark);
}