/* OXANIUM WEBFONT */

/* latin-ext */
@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oxanium Regular'), local('Oxanium-Regular'), url(./fonts/Oxanium-Regular.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oxanium Regular'), local('Oxanium-Regular'), url(./fonts/Oxanium-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Oxanium Medium'), local('Oxanium-Medium'), url(./fonts/Oxanium-Medium.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Oxanium Medium'), local('Oxanium-Medium'), url(./fonts/Oxanium-Medium.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Oxanium Bold'), local('Oxanium-Bold'), url(./fonts/Oxanium-Bold.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Oxanium Bold'), local('Oxanium-Bold'), url(./fonts/Oxanium-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* FLEXBOX */

.d-flex {
  display: flex;
}

/* TEXT */

.ion-text-left {
  text-align: left;
}

.ion-text-center {
  text-align: center !important;
}

.ion-text-right {
  text-align: right !important;
}

.ion-text-uppercase {
  text-transform: uppercase !important;
}

.text-primary {
  color: var(--ion-color-primary) !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.item-label-start {
  min-width: 44px;
  color: var(--ion-color-step-600, #666666);
  font-size: 14px;
}

/* Standings */

.constructor {
  color: var(--ion-color-dark);
}

.country-thumbnail {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 1.5rem;
  height: 1rem;
}

.country-thumbnail ion-img {
  border-radius: 0.25rem;
}

.circuit-country-thumbnail {
  --ion-margin: 1.375rem;

  width: 2.5rem;
  height: 1.75rem;
}

.circuit-country-thumbnail ion-img {
  border-radius: 0.25rem;
}

.quali-position,
.race-position {
  min-width: 1.5rem;
}

.quali-position,
.race-position {
  min-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.race-date {
  min-width: 3rem;
}

.race-time {
  min-width: 5.5rem;
}

.race-points {
  min-width: 1.75rem;
}

/* QUALI */
.quali-title {
  min-width: 4.25rem;
}

.quali-results {
  min-width: 15rem;
}

/* RACE PREVIEW */
.track-icon {
  font-size: 2.5rem;
}

/* TRACK */

.track-card {
  --background: var(--ion-color-light);
}

.track {
  width: 90%;
  height: 216px;
  color: var(--ion-color-dark);
}

/* APP ICON */
.app-icon {
  width: 256px;
  height: 256px;
  margin-left: auto;
  margin-right: auto;
}

/* DRIVER RESULTS */

.seasons-segment {
  --background: var(--ion-color-light);
}

.dark .seasons-segment {
  --background: var(--ion-color-medium);
}

.driver-results-list {
  max-height: calc(100vh - 310px);
  overflow-y: auto;
}

.driver-standings {
  --background: var(--ion-color-light);
}

.dark .driver-standings {
  --background: var(--ion-color-medium);
}

.driver-race {
  min-width: 7rem;
}

.driver-date {
  min-width: 3rem;
}

.driver-position {
  min-width: 2rem;
}

.driver-number {
  min-width: 1.875rem;
}

.constructor-results-list {
  max-height: calc(100vh - 372px);
  overflow-y: auto;
}

.img {
  background: var(--ion-color-medium);
}

ion-grid {
  --ion-grid-padding: 0;
}

ion-col {
  --ion-grid-column-padding: 0;
}
